.bgnav {
    background-image: url('OIP.png');
}
.title {
    font-family: fantasy;
    --bs-link-color: rgb(231, 223, 176);
    --bs-link-hover-color: white;
    font-size: 100px;
}

.bgbg {
    background-image: url('bg.png');
}

.forbg {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('forest.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.wetbg {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('wetlands.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}