<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="./static/style2.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hearth Idle</title>
    <!-- Mediocre Games -->
</head>
<script src="./static/enemyid.js" charset="utf-8" type="text/javascript"></script>
<script src="./static/variables.js" charset="utf-8" type="text/javascript"></script>
<script src="./static/script.js" charset="utf-8" type="text/javascript"></script>


<nav class="navbar navbar-expand navbar-light bgnav m-3 rounded-5">
    <div class="nav navbar-nav mx-auto ">
        <h1 class='title'><a href={{homeurl}}>Hearth Idle</a></h1>
    </div>
</nav>



<body class='bgbg'>
 
<div class='container mt-4'>
  
  {% block mainbattle %}

  <div class='d-flex flex-row justify-content-between pt-4'>


        <div class="card forbg text-light mx-2" style="width: 18rem;">
          <img class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">Elwynn Forest <br> (1-50)</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href={{url}}>Let's Go!!</a>
          </div>
        </div>

        <div class="card mx-2" style="width: 18rem;">
          <img class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">West Fall  <br> (5-50)</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href={{url2}}>Let's Go!!</a>
          </div>
        </div>
      
    
  

      <div class="card wetbg text-light mx-2" style="width: 18rem;">
        <img class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">Wet lands <br> (10-50)</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href={{url3}}>Let's Go!!</a>
        </div>
      </div>

      <div class="card mx-2" style="width: 18rem;">
        <img class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Bad lands <br> (15-50)</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href={{url4}}>Let's Go!!</a>
        </div>
      </div>
    
  </div>

  {% endblock mainbattle  %}
</div>



</html>