<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hearth Idle</title>
    <!-- Mediocre Games -->
</head>
<script src="./static/enemyid.js" charset="utf-8" type="text/javascript"></script>
<script src="./static/variables.js" charset="utf-8" type="text/javascript"></script>
<script src="./static/script.js" charset="utf-8" type="text/javascript"></script>


<body>
  <header>
    <button id="healallbutton" onclick="healall()" style="position:absolute;">Heal all</button>
    <h1 id="GameTitleText" class="textwrapcenter"><a href={{homeurl}}>Hearth Idle</a></h1>
  </header>

  {% block mainbattle %}

  <div class="main_battle_div">
    <div class="battle_enemy_div" id="battle_enemy_div_id">
      <div class="battle_enemy_left_div" style="border:1px solid gray">
        <p id="enemy_stats_text_id"class="enemybattlevisibility"style="text-align:center;">Enemy Stats</p>
      </div>
      <div class="battle_enemy_center_div" style="border:1px solid gray">

        <button class="closecombatx enemybattlevisibility" style="margin:0;padding:0;position:absolute;right:0.5em; cursor:pointer; border:none;background-color: transparent;outline:none;" onclick="stopCombat()">&#10005;</button>
        
        <p id="SelectZoneBeforeTextId" class="SelectZoneBeforeText" style="text-align:center;">
          Select a zone first!
        </p>
        <progress id="EnemyHealthBarId" class="EnemyHealthBar enemybattlevisibility" data-label='15/20' value="15" max="20">

        </progress>

      </div>
      <div class="battle_enemy_right_div" style="border:1px solid gray">
        <h3 id="CollectLootText" class="enemybattlevisibility">Loot (0/10)</h3>
        <p class="btnwrapcenter">
          <button class="enemybattlevisibility" id="CollectLootButton">Collect</button>
        </p>
      </div>
      <br>
    </div>
    <div class="zone_selection_div">
      <div class=zonecontainers>
        <div id="ElwynnForestZoneBox" style="border:1px solid gray; cursor:pointer;">
          <!-- onclick="selectelwynnforestzone() -->
          <p style="font-size:0.8em;text-align:center;margin:auto;"><a href={{url}}>Elwynn Forest</a><br>(1-50)</p>
        </div>
      </div>
      <div class=zonecontainers>
        <div id="WestFallZoneBox" style="border:1px solid gray; cursor:pointer;" onclick="selectwestfallzone()">
          <p style="font-size:0.8em;text-align:center;margin:auto;"><a href={{url2}}>West Fall</a><br>(5-50)</p>
        </div>
      </div>

      <div class=zonecontainers>
        <div id="WetlandsZoneBox" style="border:1px solid gray; cursor:pointer;" onclick="selectwestfallzone()">
          <p style="font-size:0.8em;text-align:center;margin:auto;"><a href={{url3}}>Wet lands</a><br>(10-50)</p>
        </div>
      </div>
      <div class=zonecontainers>
        <div id="BadLandsZoneBox" style="border:1px solid gray; cursor:pointer;" onclick="">
          <p style="font-size:0.8em;text-align:center;margin:auto;"><a href={{url4}}>Bad lands</a><br>(15-50)</p>
        </div>
      </div>
    </div>
</div>

{% endblock mainbattle  %}

<div class="SelectPartyMemberContainer" id="SelectPartyMemberContainerId">
  <div class="SelectPartyMember">
    <div class="btntextwrapper">
      <p>-</p>
      <btn id="SelectTank" style="cursor:pointer;margin-right:1em;" onclick="SelectTankMember()">Tank</btn>
    </div>
    <div class="btntextwrapper">
      <p>Select which member to use</p>
      <btn id="SelectHealer" style="cursor:pointer;" onclick="SelectHealerMember()">Healer</btn>
    </div>
    <div class="btntextwrapper">
      <p>-</p>
      <btn id="SelectDPS" style="cursor:pointer;margin-left:1em" onclick="SelectDPSMember()">DPS</btn>
    </div>
  </div>
  <button id="SendOutMember"style="position:absolute;cursor:pointer;" onclick="SendOutMembers()">Send</button>
</div>

    <div class="party_container">
        <div class="player1_battle_info_div" id="player1_battle_info_div_id">
          <div class="player1_battle_info_left_div" style="border:1px solid gray">
            <progress id="Player1HealthBarId" class="Player1HealthBar" data-label='20/20' value="20" max="20">

            </progress>
            <br>
            <div class="battleinfotextwrapper">
              <p style="margin:0;padding:0;font-weight:bold;">Stats</p>
              <p id="Player1DamageInfoText" style="margin:0;padding:0;">Damage: </p>
              <p id="Player1ASInfoText" style="margin:0;padding:0;">Attack spd: </p>
              <p id="Player1DRInfoText" style="margin:0;padding:0;">Dmg Reduction: </p>
              <p id="Player1RegenInfoText" style="margin:0;padding:0;">Regen: </p>
            </div>
          </div>
          <div class="player1_battle_info_center_div" style="border:1px solid gray">
            <h2 id="BattleInfoUsernameText" class="textwrapcenter">Tank</h2>
            <p id="TankLevelText" class="textwrapcenter">Level: 1</p>
            <progress id="TankEXPBarId" class="TankEXPBar" data-label='' value="0" max="100">

            </progress>
          </div>
            <div class="player1_battle_info_right_div" style="border:1px solid gray">
              <progress id="Player1ManaBarId" class="Player1ManaBar" data-label='20/20' value="20" max="20">

              </progress>
            </div>
        </div>

        <div class="player2_battle_info_div" id="player2_battle_info_div_id">
          <div class="player2_battle_info_left_div" style="border:1px solid gray">
            <progress id="Player2HealthBarId" class="Player2HealthBar" data-label='20/20' value="20" max="20">

            </progress>
            <br>
            <div class="battleinfotextwrapper">
              <p style="margin:0;padding:0;font-weight:bold;">Stats</p>
              <p id="Player2HealingInfoText" style="margin:0;padding:0;">Healing: </p>
              <p id="Player2ASInfoText" style="margin:0;padding:0;">Attack spd: </p>
              <p id="Player2DRInfoText" style="margin:0;padding:0;">Dmg Reduction: </p>
              <p id="Player2RegenInfoText" style="margin:0;padding:0;">Regen: </p>
            </div>
          </div>
          <div class="player2_battle_info_center_div" style="border:1px solid gray">
            <h2 id="BattleInfoUsernameText" class="textwrapcenter">Healer</h2>
            <p id="HealerLevelText" class="textwrapcenter">Level: 1</p>
            <progress id="HealerExpBarId" class="HealerEXPBar" data-label='' value="0" max="100">

            </progress>
          </div>
            <div class="player2_battle_info_right_div" style="border:1px solid gray">
              <div class="Player2ManaBar" data-label="10/10">
                <span class="value" style="width:100%;"></span>
              </div>
            </div>
        </div>

        <div class="player3_battle_info_div" id="player3_battle_info_div_id">
          <div class="player3_battle_info_left_div" style="border:1px solid gray">
            <progress id="Player3HealthBarId" class="Player3HealthBar" data-label='20/20' value="20" max="20">

            </progress>
            <br>
            <div class="battleinfotextwrapper">
              <p style="margin:0;padding:0;font-weight:bold;">Stats</p>
              <p id="Player3DamageInfoText" style="margin:0;padding:0;">Damage: </p>
              <p id="Player3ASInfoText" style="margin:0;padding:0;">Attack speed: </p>
              <p id="Player3DRInfoText" style="margin:0;padding:0;">Dmg Reduction: </p>
              <p id="Player3RegenInfoText" style="margin:0;padding:0;">Regen: </p>
            </div>
          </div>
          <div class="player3_battle_info_center_div" style="border:1px solid gray">
            <h2 id="BattleInfoUsernameText" class="textwrapcenter">DPS</h2>
            <p id="DPSLevelText" class="textwrapcenter">Level: 1</p>
            <progress id="DPSExpBarId" class="DPSExpBar" data-label='' value="0" max="100">

            </progress>
          </div>
            <div class="player3_battle_info_right_div" style="border:1px solid gray">
              <div class="Player3ManaBar" data-label="10/10">
                <span class="value" style="width:100%;"></span>
              </div>
            </div>
        </div>
      </div>
</body>
<script src="./static/save.js" charset="utf-8" type="text/javascript"></script>
</html>


  